################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/builds/nuget
/test/unit.webapp/.vs
/test/unit.webapp/unit.webapp.common
/test/unit.webapp/unit.webapp.domain
/test/unit.webapp/unit.webapp.entry/obj
/test/unit.webapp/unit.webapp.entry/bin
/test/unit.webapp/unit.webapp.model/bin
/test/unit.webapp/unit.webapp.model/obj
/test/unit.webapp/unit.webapp.repository/bin
/test/unit.webapp/unit.webapp.repository/obj
/test/unit.webapp/unit.webapp.service/bin
/test/unit.webapp/unit.webapp.service/obj
/src/core/Air.Cloud.Core/obj
/src/core/Air.Cloud.Core/bin
/src/core/Air.Cloud.DataBase/obj
/src/core/Air.Cloud.DataBase/bin
/src/core/Air.Cloud.WebApp/bin
/src/core/Air.Cloud.WebApp/obj
/src/plugins/Air.Cloud.Plugins.Jwt/obj
/src/plugins/Air.Cloud.Plugins.Jwt/bin
/src/modules/Air.Cloud.Modules.RedisCache/obj
/src/modules/Air.Cloud.Modules.RedisCache/bin
/test/unit.host/unit.host.test.entry/bin/Debug/net6.0
/test/unit.host/unit.host.test.entry/bin/Release/net6.0
/test/unit.host/unit.host.test.entry/obj
/test/unit.webapp.nuget/.vs
/test/unit.webapp.nuget/unit.webapp.common/obj
/test/unit.webapp.nuget/unit.webapp.common/bin
/test/unit.webapp.nuget/unit.webapp.domain/bin
/test/unit.webapp.nuget/unit.webapp.domain/obj
/test/unit.webapp.nuget/unit.webapp.entry/bin
/test/unit.webapp.nuget/unit.webapp.entry/obj
/test/unit.webapp.nuget/unit.webapp.model/bin
/test/unit.webapp.nuget/unit.webapp.model/obj
/test/unit.webapp.nuget/unit.webapp.repository/bin
/test/unit.webapp.nuget/unit.webapp.repository/obj
/test/unit.webapp.nuget/unit.webapp.service/bin
/test/unit.webapp.nuget/unit.webapp.service/obj
